*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: sans-serif;
}
nav{
    background-color:#333333;
    list-style-type: none;
    margin: 0;
    color:whitesmoke;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    pointer-events: none;
}

.name{
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
}
nav h3.name{
    padding-top: 25px;
    font-size:30px;
    position: absolute;
}

#right{
    width:100%;
    text-align: right;
}
#left{
    width:100%;
    text-align: left;
}
#middle{
    width:100%;
    text-align: center;
}
nav ul li {
    padding:30px;
    display: inline-block;
    font-size: 20px;
    pointer-events:auto ;
}
li a{
    text-decoration:none;
    color:rgb(233, 227, 227);
}

a:hover{
    background-color:black;
}